@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    /*background-color: #2f3030;*/
}

body {
    background-color: #2f3030;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 50px;
    width: 450px;
    color: #ddd;
}

h3 {
    font-size: 25pt;
    margin-bottom: 1px;
    color: #d5a8ed;
}
.buttons {
    align-self: flex-start;
    display: flex;
    gap: 20px;
}

/* Aquí empiezo a definir el botón de Google */
.google-btn:hover {
    opacity: 0.6;
}

.google-btn {
    background-color: #5d8edd;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.google-btn picture {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn span {
    color: white;
    padding: 15px;
    font-weight: 500;
}

.google-btn picture img {
    width: 75%;
}
/* Aquí termino de definir el botón de Google */

/* Aquí empiezo a definir el botón de Twitter */
.twitter-btn {
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.twitter-btn picture {
    width: 36px;
    height: 36px;
    background-color: #eeeeee;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-btn:hover {
    opacity: 0.6;
}

.twitter-btn picture img {
    width: 75%;
}
/* Aquí termino de definir el botón de Twitter */

.separator {
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #c884ed;
}

.separator span {
    color: #c884ed;
}

.section-inputs {
    display: flex;
    gap 10px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px; /* Aquí el gap entre cajas */
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-inputs label input {
    width: 80%;
    background-color: #3d3d3d;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}


label input {
    width: 92%;
    background-color: #3d3d3d;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s;
}

label input::placeholder {
    color: #585858;
}

label span {
    font-weight: 700;
}

label input:hover {
    background-color: #625c62;
    border: solid 1px #b45be4;
    box-shadow: 0 0 8px #b45be4;
}

label input:focus {
    background-color: 454045;
    border: solid 1px #b45be4;
    box-shadow: 0 0 8px #413a3a82;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"] {
    width: 20px;
}

.checkbox-label span {
    font-weight: 200;
    color: rgb(230, 230, 230);
}

.submit-btn {
    width: 100%;
    background-color: #b45be4;
    color: white;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.submit-btn:hover {
    opacity: 75%;
}

